* {
	background-color: transparent;
	color: #eff1f5;
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: 'JetBrainsMono Nerd Font', monospace;
	font-weight: bold;
	font-size: 12px;
}

window#waybar {
	background: transparent;
	color: #eff1f5;
}

.modules-left {
	margin-left: 8px;
}

.modules-right {
	margin-right: 8px;
}

#workspaces button {
	all: initial;
	padding: 0 6px;
	margin: 0 1.5px;
	min-width: 9px;
	color: #9ca0b0;
}

#workspaces button.active {
	color: #eff1f5;
}

#workspaces button.focused {
	color: #eff1f5;
}

#workspaces button.urgent {
	color: #a6e3a1;
}

#workspaces button:hover {
	color: #cdd6f4;
}

#workspaces button.empty {
	color: #6c7086;
}

#cpu,
#memory,
#pulseaudio,
#network,
#custom-weather,
#custom-notifications {
	min-width: 12px;
	margin: 0 7.5px;
}

#tray {
	margin-right: 16px;
}

#network {
	margin-right: 13px;
}

#custom-expand-icon {
	margin-right: 20px;
}

#clock {
	margin-left: 8.75px;
}

#custom-weather {
	margin-left: 8.75px;
	font-size: 10px;
}

tooltip {
	padding: 2px;
	background: #1e1e2e;
	border: 1px solid #313244;
	color: #cdd6f4;
}

.hidden {
	opacity: 0;
}
